@import './settings';

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #2c303b;
	font-family: 'NovacentoSansWideLight', sans-serif;
}

.pagebody {
	min-height: 100vh;
	height: auto;
	max-width: 100%;
	width: 100%;
}

.close {
	z-index: 999;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
	background-color: rgba(0,0,0,0.9) !important;
}