.featured {
	flex-basis: 100%;
	a {
		font-size: 24px;
		text-transform: lowercase;
		text-decoration: none;
		font-family: 'NovacentoSansWideNormal', sans-serif;
		color: rgba(0,0,0,0.4);
		z-index: 941;
		&:hover {
			color: $titleColor;
		}
	}
	.featuredImages {
		display: flex;
		flex-wrap: wrap;
		max-width: 100%;
		width: 100%;
	}
	.mainImage {
		max-width: 100%;
		width: 100%;
		flex-basis: 100%;
		height: auto;
		display: inline-block;
		//margin-top: -3px;
		z-index: 930;
		cursor: pointer;
		img {
			max-width: 100%;
			width: 100%;
		}
	}
}

@media (min-width: 768px) {
	.featured {
		a {
			font-size: 36px;
		}
		.mainImage {
			max-width: 50%;
			width: 50%;
			flex-basis: 50%;
		}	
	}
}