.footer {
	background-color: rgba(0,0,0,0.8);
	color: white;
	padding: 20px 20px 30px;
	p {
		background-color: rgba(0,0,0,0.8);
		width: 100%;
		font-family: NovacentoSansWideNormal;
		text-transform: lowercase;
		font-variant: small-caps;
		font-size: 17px;
		margin: 0 0 0 0;
		.blurb {
			display: inline-block;
			width: 50%;
			text-align: left;
		}
		.copyright {
			display: inline-block;
			width: 50%;
			text-align: right;
		}
	}
}