@import './settings';

.header {
	background-color: $headerBg;
	background-image: url('../img/forest2.png');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
	//border-bottom: 2px solid $titleColor;
	position: relative;
	max-height: 140vh;
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 900;
	}
	.h1, .h2 {
		margin: 0 0 0 0;
		font-weight: 300;
		color: white;
		//color: $titleColor;
		text-transform: lowercase;
		width: 100%;
		text-align: right;
		padding-right: 30px;
		padding-top: 0;
		position: absolute;
		bottom: calc(25vh + 105px);
		// bottom: 105px;
		z-index: 1;
		//text-shadow: 0px 0px 0px rgba(255,255,255,0.4);
	}
	.h1 {
		//opacity: 0.85;
		font-size: 30px;
	}
	.h2 {
		//opacity: 0.85;
		bottom: calc(25vh + 75px);
		z-index: 2;
		font-size: 24px;
	}
	#down-arrow {
		color: rgba(255,255,255,1);
		position: relative;
		font-size: 54px;
		height: 100vh;
		max-height: 100%;
		z-index: 910;
		transition: 0.6s all ease-in-out;
		cursor: pointer;
		text-align: left;
		left: 20px;
		top: 0px;
		text-shadow: 0px 2px 4px #333;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 0 0 20px;
		&:hover {
			color: $titleColor;
			.btn-label, .btn-action {
				text-shadow: 0 3px 5px 0 $glowShadow, 0 1px 9px 0 $glowShadow, 0 3px 3px -1px $glowShadow;
			}
		}
	}
	.btn {
		background-color: transparent;
		outline: none;
		border: none;
	}
	.btn-label {
		font-size: 34px;
		line-height: 1.15;
		text-transform: lowercase;
		font-family: NovacentoSansWideNormal;
	}
	.btn-action {
		// margin-top: -5px;
	}
	.icons {
		position: absolute;
		right: 30px;
		bottom: calc(25vh + 25px);
		// bottom: 25px;
		z-index: 930;
	}
	.icon {
		display: inline-block;
		width: 30px;
		height: 30px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 0.6;
		cursor: pointer;
	}
	#lin {
		background-image: url('../img/lin.png');
		margin-left: 25px;
	}
	#hub {
		background-image: url('../img/hub.png');
		margin-left: 25px;
	}
	#lab {
		background-image: url('../img/lab.png');
		margin-left: 25px;
	}
	#email {
		background-image: url('../img/env.png');
	}
	.opacity-mask {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 50vh;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,2989d8+39,2989d8+39,000000+76,000000+100 */
		background: rgba(44,48,59,0.5); /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(rgba(44,48,59,0), rgba(44,48,59,0.6), rgba(44,48,59,1), rgba(44,48,59,1)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(rgba(44,48,59,0), rgba(44,48,59,0.6), rgba(44,48,59,1), rgba(44,48,59,1)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(rgba(44,48,59,0), rgba(44,48,59,0.6), rgba(44,48,59,1), rgba(44,48,59,1)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(rgba(44,48,59,0), rgba(44,48,59,0.6), rgba(44,48,59,1), rgba(44,48,59,1)); /* Standard syntax */
	}
}

@media (min-width: 640px) {
	.header {
		.h1, .h2 {
			padding-right: 60px;
		}
		#down-arrow {
			left: 30px;
			bottom: 72px;
		}
		.icons {
			right: 60px;
		}
	}
}

