.intro {
	background-color: #2c303b;
	color: white;
	padding: 0 40px 40px;
	margin-bottom: 40px;
	min-height: 40vh;
	p {
		margin-top: 0;
		text-transform: lowercase;
		// font-variant: small-caps;
		width: 100%;
		text-align: center;
		font-size: 24px;
	}
}