// $bodyBg: rgba(255,255,255,1);
$bodyBg: #2c303b;
//$headerBg: linear-gradient(180deg, #FF4238, rgba(255,66,56, 0.8), rgba(255,66,56, 0.5), #FFF);
//$headerBg: linear-gradient(180deg, rgba(15,60,120,1), rgba(15,60,120, 0.8), rgba(15,60,120, 0.5), #FFF);
//$headerBg: rgba(15,60,120,1);
$headerBg: rgba(26,6,41,1);
$titleColor: rgba(24,170,220,1);
//$titleColor: rgba(244,87,98,1);
$glowShadow: rgba(81,129,245,1);
