@font-face {
	src: url('/fonts/Novecentosanswide-Light.otf');
	font-family: NovacentoSansWideLight;
}

@font-face {
	src: url('/fonts/Novecentosanswide-Book.otf');
	font-family: NovacentoSansWideBook;
}

@font-face {
	src: url('/fonts/Novecentosanswide-Normal.otf');
	font-family: NovacentoSansWideNormal;
}

@import 'body';
@import 'header';
@import 'intro';
@import 'talks';
@import 'work';
@import 'featured';
@import 'footer';