#work {
	display: flex;
	flex-wrap: wrap;
	p {
		text-transform: lowercase;
		font-size: 28px;
		width: 100%;
		margin: 0 0 0 0;
	}
	a {
		font-size: 24px;
		display: block;
		text-transform: lowercase;
		text-decoration: none;
		font-family: 'NovacentoSansWideLight', sans-serif;
		//color: rgba(0,0,0,0.4);
		color: rgba(255,255,255,0.9);
		z-index: 940;
		background-color: rgba(0,0,0,0.8);
		width: 100%;
		height: 65px;
		//margin-top: -3px;
		padding-left: 5px;
		padding-top: 15px;
		&:hover {
			color: $titleColor;
		}
	}
	#langs {
		font-size: 18px;
		opacity: 0.9;
	}
	.project {
		flex-basis: 100%;
	}
	.projectImages {
		background-color: rgba(0, 0, 0, 0.8);
		img {
		}
		.mainImage {
			//margin-top: -3px;
			z-index: 931;
			cursor: pointer;
		}
		.mainImage img {
			max-width: 100%;
			width: 100%;
			height: auto;
			display: inline-block;
		}
		.mobileImage img {
			max-width: 38%;
			
			display: inline-block;
		}
	}
}

@media (min-width: 640px) {
	#work {
		.project {
			flex-basis: 50%;
		}
	}
}

@media (min-width: 768px) {
	#work {
		.project {
			flex-basis: calc(100% / 3);
		}
	}
}